@charset "utf8";

dd{
	background-size:32px 32px;
	margin:0;
	padding:0 0 3px 50px;
	font-size:17px;
  min-height: 40px;
	}

dt
	{padding:0 0 0 8px;font-size:28px;border-left:4px solid #000; margin-bottom:3px;padding-left: 40px;}

dl,
dd,
dt
	{width:100%}

.steptitle,
[class*="number"]:before,
.me span
	{display:block;position:absolute}

.steptitle
	{top:50%;transform:translate(0,-50%)}

dl,
dd,
dt,
[class*="row"],
[class*="number"],
[class*="desc"]
	{display:block;position:relative}

[class*="row"]
	{width:70%;float:left;}

.row_2,
.row_4
	{margin:40px 0}

[class*="number"]
	{width:180px;box-shadow:1px 0 1px -1px #595959;padding-top: 20px;}

[class*="number"],
[class*="desc"]
	{height:80px;float:left}

[class*="number"]:before{
	background:inherit;
	content:"";
	width:100%;
	height:40px;
	top:-40px;
	left:29px;
	transform:skewX(-55deg);
	transform-origin:100%;
	box-shadow:1px 0 1px -1px #595959,0 -1px 1px -1px #fff,0 1px 1px -1px #fff;
	}

[class*="desc"]
	{width:460px;margin:-30px 0 0 60px}

[class*="desc"] dl
	{margin:0;padding:0}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ End Root */


/*                                          ! Responsive Stairs Diagram Start Here ...
=======================================================================================================================*/



.row_1
	{margin:62px 0 0 0}

.number_1
	{background:#51a0cc;margin:0 0 0 229px}

  .desc_rockstar dd
  {
    background:url("../../resources/index/rockstar-icon.png")no-repeat left center;
    background-size: 40px;
  }

.number_2
	{background:#5fa6ce;margin:0 0 0 172px}

  .desc_japan dd
  {
    background:url("../../resources/index/japan-icon.png")no-repeat left center;
    background-size: 40px;
  }

.number_3
	{background:#70abcc;margin:0 0 0 115px}

.desc_moore dd
{
  background:url("../../resources/index/maths-icon.png")no-repeat left center;
  background-size: 40px;
}

.number_4
	{background:#81abc4;margin:0 0 0 58px}

  .desc_music dd
  	{
      background:url("../../resources/index/music-icon.png")no-repeat left center;
      background-size: 40px;
    }

.number_5
	{background:#9bb6c6}

.desc_chess dd
	{
    background:url("../../resources/index/chess-icon.png")no-repeat left center;
    background-size: 40px;
  }

@media (max-width:639px){

	[class*="row"]
		{
      width:100%;
      padding-bottom: 30px;
    }

	.row_2,
	.row_4
		{margin:62px 0}

	[class*="number"]
		{margin:0}

	[class*="desc"]
		{width:100%;margin:0;padding:0 16px}

	}

@media screen and (min-width:640px) and (max-width:1099px){

  [class*="row"]
		{
      width:100%;
      padding-bottom: 30px;
    }

	.row_2,
	.row_4
		{margin:62px 0}

	[class*="number"]
		{margin:0}

	[class*="desc"]
		{width:100%;margin:0;padding:10px 16px}
	}

@media screen and (min-width:1100px){


	[class*="row"]
		{width:100%}
	}


@keyframes me{
	from{transform:translateY(-4px)}
	to{transform:translateY(4px)}
	}
