	.container {
		width: 700px;
		height: 400px;
		text-align: left;
		margin: 100px auto 60px auto;
		-webkit-perspective: 1000px;
		-webkit-perspective-origin: 50% -25%;
	}

	.carousel {
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translateZ(-540px);
		position: relative;
		margin: 0;
		width: 700px;
		height: 400px;
		-webkit-transition: 1s;
	}

	.carousel .item {
    border-radius: 15px;
		position: absolute;
		opacity: .5;
		-webkit-transition: 1s;
    width: 700px;
    height: 400px;
    background:white;
	}

		.carousel .item:nth-child(1) { -webkit-transform: translateZ(540px) scale(.8); }
		.carousel .item:nth-child(2) { -webkit-transform: rotateY(60deg) translateZ(540px) scale(.8); }
		.carousel .item:nth-child(3) { -webkit-transform: rotateY(120deg) translateZ(540px) scale(.8); }
		.carousel .item:nth-child(4) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(.8); }
		.carousel .item:nth-child(5) { -webkit-transform: rotateY(240deg) translateZ(540px) scale(.8); }
		.carousel .item:nth-child(6) { -webkit-transform: rotateY(300deg) translateZ(540px) scale(.8); }

  input[type=radio] {
	height: 50px;
	width: 50px;
  display: none;
}

input[type=radio]:checked + label {
	background: url('../../resources/index/checked.png') left center no-repeat;
  background-size: contain;
}

label {
  text-align: left;
  display:inline-block;
  font-size: 26px;
  font-weight: bold;
  width: 225px;
  margin: 0 0px 0 60px;
	background: url('../../resources/index/unchecked.png') left center no-repeat;
  background-size: contain;
	min-height: 25px;
	padding-left: 60px;
}

		input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
		input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-60deg); }
		input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-120deg); }
		input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-180deg); }
		input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-240deg); }
		input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-300deg); }

		input[value="1"]:checked ~ .container .carousel .item:nth-child(1) { -webkit-transform: translateZ(540px) scale(1); opacity: 1; }
		input[value="2"]:checked ~ .container .carousel .item:nth-child(2) { -webkit-transform: rotateY(60deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="3"]:checked ~ .container .carousel .item:nth-child(3) { -webkit-transform: rotateY(120deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="4"]:checked ~ .container .carousel .item:nth-child(4) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="5"]:checked ~ .container .carousel .item:nth-child(5) { -webkit-transform: rotateY(240deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="6"]:checked ~ .container .carousel .item:nth-child(6) { -webkit-transform: rotateY(300deg) translateZ(540px) scale(1); opacity: 1; }

.crop {
  margin-right: 10px;
  float: left;
  width: 320px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.crop img {
  height:100%;
}

.cardinfo {
  padding: 10px;
}
