body {
  position: relative;
  font-family: sans-serif;
  margin: auto;
  color: #333;
}

.custom-bg {
  background-color: #144549;
}

.cv {
  text-align: center;
}

.demo {
  padding-left: 10px;
}

.content {
  border-radius: 50px;
  max-width: 1050px;
  min-width: 858px;
  margin: 0 auto;
  padding: 20px 50px;
  overflow: hidden;
}

.content .profilePic {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 10px solid transparent;
  margin: 30px 0 50px auto;
  transition: .4s  ease-in-out;;
}

.content .profilePic:hover{
  border: 10px solid #123648 ;
}

.profile {
  background-color: white;
  float: left;
  padding: 20px;
  margin-right: 30px;
}

.name {
  color: #123648;
  font-weight: bold;
  padding-bottom: 15px;
}

.role {
  font-weight: bold;
  padding-bottom: 30px;
}

.slogan {
  padding-bottom: 30px;
}

.profile img {
  margin-bottom: 100px;
}

.info {
  padding: 50px 30px 0px 30px;
}

 .info p{
   font-size: 30px;
}

.profile-social-links {
    list-style-type: none;
    display: flex;
}

.profile-social-links li {
  margin: 60px auto 30px auto;
}

.fa-facebook-square{
  transform: scale(5);
 color: white ;
  transition: .4s  ease-in-out;;
}
.fa-facebook-square:hover{
  color: #123648 ;
}

.fa-linkedin{
  transform: scale(5);
  color: white;
  transition: .4s  ease-in-out;;
}
.fa-linkedin:hover{
  color: #123648 ;
}

.fa-gitlab{
  transform: scale(5);
 color: white ;
  transition: .4s  ease-in-out;;
}
.fa-gitlab:hover{
  color: #123648 ;
}

.content .logo {
    vertical-align: top;
    max-width: 200px;
    padding: 5px 20px 0px 0px;
    margin-top: 20px;
}

.exp td {
  vertical-align: top;
  padding-top: 20px;
}

.exp tr:not(:last-child) {
  border-bottom: 1px solid grey;
}

.expDesc {
  padding: 5px;
  text-align: left;
  max-width: 100%;
}

li{
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h2 { font-family: 'Open Sans Condensed', sans-serif; font-size: 48px;padding-bottom: 10px;}

.anchor {
  padding-top: 70px;
}

.titlestyle {
    background-image: url("../../resources/index/titlebg.jpg");
    color: #123648;
    letter-spacing: .15em;
    padding: 20px 0px;
    font-weight: 550;
  }

  h4 { font-family: 'Open Sans Condensed', sans-serif; font-size: 28px;}

  h5 {font-family: 'Source Sans Pro', sans-serif; font-size: 24px; line-height: 32px; margin: 0;}
  p {font-family: "Helvetica Neue",Arial,sans-serif; font-size: 20px; font-weight: 300; line-height: 1.5625; margin-bottom: 15px; }

.title {
  margin: 0 50px;
  padding-top: 275px;
  padding-bottom: 500px;
  font-family: adobe-garamond-pro, serif;
  font-size: 100px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #343434;
}

.headergap {
  height: 475px;
}

@media screen and (max-width: 919px){

  .profile {
    height: 730px;
  }
  .content .profilePic {
    margin: 70px 0 50px auto;
  }
  .name {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 70px;
  }
}


@media screen and (min-width:920px) and (max-width:1020px){

  .profile {
    height: 710px;
  }
  .content .profilePic {
    margin: 60px 0 50px auto;
  }

  h1 {
    font-size: 70px;
  }
}

@media screen and (max-height: 900px){
  .title{
    padding-top: 150px;
    padding-bottom: 550px;
  }
}
