.landing, .introbg, .expbg, .edubg, .skillsbg, .accompbg, .interestsbg{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);

    opacity: 0.8;
    margin: -15px 0px;
}

.down-scroll {
  padding-top: 20px;
  width: 200px;
  cursor: pointer;
}
.content{
  background-color: rgba(255,255,255,0.77);
}

.profilecard {
  padding: 0;
  height: auto;
  background-color: rgba(84,197,207,0.77);
}

.spacing {
  height: 75px;
}
.cv{
  position:relative;
}

.canvas{
  height: 100%;
  width: 100%;
}

.landing {
  background-image: url("../../resources/index/landing.jpg");
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  opacity: 0.6;
}

.introbg {
  background-image: url("../../resources/index/introbg.jpg");
}

.expbg {
  background-image: url("../../resources/index/experiencebg.jpg");
}

.edubg {
  background-image: url("../../resources/index/edubg.jpg");
}

.skillsbg {
  background-image: url("../../resources/index/skillsbg.jpg");
}

.accompbg {
  background-image: url("../../resources/index/accompbg.jpg");
}

.interestsbg {
  background-image: url("../../resources/index/interestsbg.jpg");
}

@media (max-width:1200px){
  .landing, .introbg, .expbg, .edubg, .skillsbg, .accompbg, .interestsbg{
    background-attachment: scroll;
  }
}
