.skill {
  display: inline-block;
}

.circle {
  position: relative;
  margin: 30px 31px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
          transition: .8s ease-in-out;
}

.skill:hover h3{
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  50% {color: #54c5cf;}
}

.skill:hover .circle{
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.skill:hover .arc{
      border-color: #54c5cf;
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
}

.skillName {
  font-size: 3em;
  font-weight: bold;
}

.arc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 20px solid #123648;
        transition: .8s ease-in-out;
}

.java {
    background: url("../../resources/index/java-icon.png")no-repeat center;
    background-size: 150px;
}

.javapc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 60%, 50% 50%);
}

.html {
    background: url("../../resources/index/html-icon.png")no-repeat center;
    background-size: 180px;
}

.htmlpc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 70% 100%, 50% 50%);
}

.test {
    background: url("../../resources/index/test-icon.png")no-repeat center;
    background-size: 180px;
}

.testpc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 70% 100%, 50% 50%);
}

.maths {
    background: url("../../resources/index/mathsskill-icon.png")no-repeat center;
    background-size: 150px;
}

.mathspc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 50% 50%);
}

.japanese {
    background: url("../../resources/index/japanese-icon.png")no-repeat center;
    background-size: 140px;
}

.japanesepc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 70% 100%, 50% 50%);
}

.presentation {
    background: url("../../resources/index/presentation-icon.png")no-repeat center;
    background-size: 130px;
}

.presentationpc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 70%, 50% 50%);
}

.blockchain {
    background: url("../../resources/index/blockchain-icon.png")no-repeat center;
    background-size: 150px;
}

.blockchainpc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.agile {
    background: url("../../resources/index/agile-icon.png")no-repeat center;
    background-size: 150px;
}

.agilepc {
clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 80%, 50% 50%);
}

@media (max-width:1200px){
  .circle {
    margin: 30px 40px;
    width: 290px;
    height: 290px;
  }
}
